@import "./default.css";

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background: red;
    margin: auto auto;
    width: 80%;
}

header {
    background: #332EDE;
}

section {
    height: 80vh;
    background: #EED6B9;
}

footer {
    height: 250px;
    background: #62C7B5;
}

a {
    color: white;
}

.ellipse {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
}